@use "sass:math";

$BgColor1 : #000;
$color1: #ffff;
$dimTextColor: #b3b3b3;

// $BgColor2 : #

$headingSize: 1.5rem;
$textBoldSize: 1.125rem;
$subtextSize: 0.875rem;

$sideBarNavItemTextSize: 1.125rem;

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: $BgColor1; // Dark background
  color: $color1; // White text
}

//sidebar
.sidebar {
  width: 20vw;
  padding: 20px;

  .spotify-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.25rem;

    img {
      height: 5vh;
      max-width: 100%;
    }
  }

  .hamburger {
    display: none; // Hidden by default
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $color1;
    cursor: pointer;
  }

  .nav {
    &.menu-closed {
      display: none;
    }

    &.menu-open {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    font-size: $sideBarNavItemTextSize;
    color: #282828 !important;
  }

  a:hover {
    color: #fff !important;
    text-decoration: underline;
  }

  .active {
    color: #fff !important;
    text-decoration: none !important;
  }
}

//main container
.main-content {
  width: 40vw;
  flex-grow: 1;
  padding: 20px;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  .main-content::-webkit-scrollbar {
    display: none;
  }

  .content-type {
    font-size: $headingSize;
    margin-bottom: 1.5rem;
  }

  .search-bar {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;

    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #282828;
      color: #fff;
    }

    button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;

      i {
        color: #fff;
      }
    }
  }

  .song-list {

    .song-item {
      padding: 10px;
      display: flex;
      gap: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #cfcfcf;
      }

      .round-img img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
      }

      .song-data {
        width: 100%
      }

      .song-title {
        font-size: $textBoldSize;
      }

      .song-details {
        display: flex;
        justify-content: space-between;

        .song-artist,
        .song-duration {
          font-size: $subtextSize;
          color: $dimTextColor;
        }
      }
    }

    .current-play {
      background: linear-gradient(45deg, lightgreen, rgb(0, 0, 0));
      background-size: 400% 400%;
      animation: gradientAnimation 5s ease infinite;

      @keyframes gradientAnimation {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }
    }


  }
}

// Player component
.Player-container {
  width: 40vw;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .hamburger-playlist {
    display: none;
  }

  .track-wrapper {
    display: none;
  }

  .song-info {
    .song-title {
      font-size: $headingSize;
    }

    .song-artist {
      color: $dimTextColor;
      font-size: 16px;
    }
  }

  .album-art {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }

    .track-wrapper {
      display: none;
    }
  }

  .small-song-info {
    display: none;
  }

  .controls {
    margin-top: 10px;

    .rhap_container {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      line-height: 1;
      font-family: inherit;
      width: 100%;
      padding: 10px 15px;
      background-color: #000 !important;
      /* box-shadow: 0 0 3px 0 #212529; */
      /* width: 100%; */

      .rhap_volume-controls {
        .rhap_volume-container {
          display: flex;
          justify-content: flex-end;
        }

        .rhap_volume-bar-area {
          display: none;
        }
      }
    }
  }
}

.favorite-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.favorite-btn.favorited {
  color: red;
}


/*---------------------------------------*/
// Media Queries for Smaller Screens
@media (max-width: 768px) {

  $headingSize: math.div(1.5rem, 2);
  $textBoldSize: math.div(1.125rem, 2);
  $subtextSize: math.div(0.875rem, 2);

  $sideBarNavItemTextSize: math.div(1.25rem, 2);

  .app-container {
    flex-direction: column;
  }

  //sidebar
  .sidebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #fff;

    .spotify-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 5vh;
      }
    }

    .hamburger {
      display: block;

      i {
        color: $color1;
      }
    }

    .flex-column {
      display: none;
    }

    .dialog {
      position: absolute;
      z-index: 3;
      background-color: $BgColor1;
      border: 1px solid #fff;
      top: 7vh;
      left: calc(100vw - 12rem);
    }

  }

  //main container
  .main-content {
    display: none;
  }

  // Player component
  .Player-container {
    width: 100%;
    height: 90vh;
    gap: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: space-between;
    overflow-y: scroll;


    .hamburger-playlist {
      display: block;
      background-color: #ffff;
      font-size: $headingSize;
    }

    .track-wrapper {
      display: block;

      .main-content {
        display: block;
        width: 100%;
        height: 60vh;
        padding: 2px;

        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        .main-content::-webkit-scrollbar {
          display: none;
        }

        .content-type {
          font-size: $headingSize;
          margin-bottom: 0.5rem;
        }

        .search-bar {
          margin-bottom: 10px;

          input[type="text"] {
            width: 100%;
            padding: 5px;
            border-radius: 2.5px;
          }
        }

        .song-list {

          .song-item {
            padding: 5px;
            gap: 0.25rem;

            .round-img img {
              height: 25px;
              width: 25px;
            }

            .song-title {
              font-size: $textBoldSize;
            }

            .song-details {

              .song-artist,
              .song-duration {
                font-size: $subtextSize;
                color: $dimTextColor;
              }
            }
          }
        }
      }
    }

    .song-info {
      .song-title {
        font-size: $headingSize;
      }

      .song-artist {
        color: $dimTextColor;
        font-size: 8px;
      }
    }


    .album-art {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .small-song-info {
      display: block;

      .song-title {
        font-size: $textBoldSize;
      }

      .song-artist {
        color: $dimTextColor;
        font-size: 8px;
      }
    }

    .controls {
      margin-top: 10px;

      .rhap_container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        line-height: 1;
        font-family: inherit;
        width: 100%;
        padding: 10px 15px;
        background-color: #000 !important;
        /* box-shadow: 0 0 3px 0 #212529; */
        /* width: 100%; */

        .rhap_volume-controls {
          .rhap_volume-container {
            display: flex;
            justify-content: flex-end;
          }

          .rhap_volume-bar-area {
            display: none;
          }
        }
      }
    }
  }
}